{% extends 'base.html' %}
{% block my_css %}
    <style>
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #007bff;
            color: #fff;
        }

        .form-control[readonly] {
            background-color: #f8f9fa;
            border: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">用户信息表</h5>
                    </div>
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <img src="{{ user.avatar }}" class="rounded-circle " alt="User Avatar"
                                 style="width: 150px; height: 150px;">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="signature" class="form-label">遗言</label>
                            <textarea class="form-control" id="signature" rows="3"
                                      readonly>{{ user.introduction }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


