{% extends 'basic.html' %}
{% block mytitle %}Blog{% endblock %}
{#自我介绍卡片#}
{% block my_card %}
    <div class="container text-left body_my">
        <div class="row">
            {#内容栏#}
            <div class="col-8">
                {#自我介绍卡片#}
                <div class="card mb-4">
                    <h6 class="card-header">
                        <strong>冷不丁 </strong>的个人简介
                    </h6>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <img class="img-fluid rounded" alt="OwnerAvatar"
                                     src="{{ url_for('static',filename='img/logo.png') }}">
                            </div>
                            <div class="col-9">
                                <h3><strong>Blogin</strong></h3>
                                <p class="text-muted">个人网站: <i class="fa fa-link"></i> <a class="text-muted gray-a"
                                                                                              href="http://natsume.top"
                                                                                              target="_blank"
                                                                                              style="text-decoration: none;">冷不丁的个人博客</a>
                                </p>
                                <p class="text-muted">建站时间: <i class="fa fa-clock-o"></i> 2020-08-27</p>
                                <p class="text-muted">联系邮箱: <i class="fa fa-envelope"></i> <a
                                        class="text-decoration-none text-muted" href="mailto:natsume37@outlook.com">natsume37@outlook.com</a>
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                {#文章卡片#}
                <div class="card_my">
                    {% for foo in range(6) %}
                        <div class="row g-0 artic_my">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img src="{{ url_for('static', filename='img/logo.png') }}"
                                     class="img-fluid rounded-start"
                                     alt="..." style="max-width: 150px; max-height: 100px;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="#" style="text-decoration: none;">文章标题</a></h4>
                                    <br>
                                    <p class="card-text">
                                        这次主要介绍Python的主要特点、Python基础技术、Python高级技术、网络编程、异步开发、基础web框架、数据库知识等等。。。</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {#功能栏#}
            <div class="col">
                {#每日一句模块#}
                <div class="card func_card">
                    <div class="card-header">
                        <span class="iconfont icon-chabei"></span>
                        <strong>每日一句</strong>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">

                            <p style="font-size:15px">no pain no gain</p>
                        </blockquote>
                    </div>
                </div>
                {#近期计划#}
                <div class="card func_card">
                    <div class="card-header">
                        <span class="iconfont icon-jihua"></span>
                        <strong>近期计划</strong>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <span style="font-size:15px;color:#51464f;">专升本</span>
                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                                 aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 25%">25%</div>
                            </div>
                            {#第二计划#}
                            <span style="font-size:15px;color:#51464f;">专升本</span>
                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                                 aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 25%">25%</div>
                            </div>
                        </blockquote>
                    </div>
                </div>
                {#最近活动#}
                <div class="card func_card">
                    <div class="card-header">
                        <span class="iconfont icon-jihua"></span>
                        <strong>最近活动</strong>
                    </div>
                    <div class="card-body">
                        {#                        <img src="https://ghchart.rshah.org/natsume37" alt="natsume37's Github chart"/>#}
                    </div>
                </div>
                {#文章类别#}
                <div class="card func_card">
                    <div class="card-header">
                        <span class="iconfont icon-jihua"></span>
                        <strong>文章类别</strong>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for _ in range(10) %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="#" style="text-decoration: none;color:#5c494f;">python</a>
                                    <span class="badge bg-success rounded-pill">2</span>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {#留言板#}
                <div class="card func_card">
                    <div class="card-header p-2 f-17">
                        <div class="d-flex">
                            <span class="iconfont icon-"></span>
                            <b class="flex-grow-1"><i class="fa fa-weixin" aria-hidden="true"></i> 留言板</b>
                            <a style="margin-bottom: 0px" class="text-decoration-none"
                               href="/msg-board"><small>更多</small><i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for _ in range(5) %}
                                <li class="list-group-item">natsume: item</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {#友情链接#}
                <div class="card func_card">
                    <div class="card-header">
                        <span class="iconfont icon-lianjie"></span>
                        <strong>友情链接</strong>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p style="font-size:15px">no pain no gain</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





